<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    
</head>
<body>
    <h1>Index Page</h1>
    {{data}}

    <form action="" method="post">
        <input type="text" name="name" id="" placeholder="Name..">
        <input type="text" name="place" id="" placeholder="Place..">
        <input type="submit" value="Add">
    </form>

    <img src="{{ url_for('static',filename='image/oned.jpg') }}" alt="">


</body>
</html>